server:
  port: 8081

spring:
  datasource:
    url: jdbc:h2:mem:usuario;MODE=PostgreSQL;DB_CLOSE_DELAY=-1
    # driver-class-name: org.h2.Driver   # opcional; Spring lo detecta
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate.format_sql: true
  h2:
    console:
      enabled: true

springdoc:
  api-docs.path: /api-docs
  swagger-ui.path: /swagger-ui.html
